body{
    background-color: lightgrey;
}

.titulo-principal{
    text-align: center;
    letter-spacing: 10px;
}

.contenido-principal{
    width: 800px;
    margin: 0 auto;
}

.contenido-principal .encabezado{
    background-color: grey;
    color: white;
    padding: 10px 5px;
}

.contenido-principal .contenido-imagen{
    float: left;
}

.contenido-principal .contenido-texto{
    margin-left: 150px;
}

.contenido-principal .contenido-texto p{
    text-indent: 20px;
    text-align: justify;
}