body{
    margin: 0;
}


.menu {
     background-color: darkcyan;
     height: 50px;
}

.menu ul{
    width: 700px;
    margin: 0 auto;
}

.elemento{
    display: inline;
    margin: 0 24px;
    /* margin: arriba derecha abajo izquierda */
}

.elemento a{
    font-size: 24px;
    color: white;
    text-decoration: none;
    line-height: 50px;
    font-family: 'Open Sans', sans-serif;
    transition: color 0.3s;
}

.elemento a:hover{
    color: black;
    /*font-size: 30px;*/
}